@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  margin: 20px 0px 10px 0px;
  padding-bottom: 5px;
  font-size: 2.5em;
  color: #85b200;
}

h1 .badge {
  background-color: #85b200;
}

h2 {
  margin: 40px 0px 20px 0px;
  font-size: 1.6em;
  color: #606060;
}

.navbar {
  border-top: 4px solid #85b200;
  box-shadow: 0px 2px 10px #dddddd;
  margin-bottom: 20px;
}

.navbar .navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7em;
}

.navbar .navbar-brand .logo-net {
  color: #85b200;
}

.navbar .navbar-brand .logo-net-admin {
  color: #ea5252;
}

.navbar-admin {
  border-top: 4px solid #ea5252;
}

.congregation-map-thumb {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.congregation-map {
  height: 350px;
  margin-bottom: 30px;
}

.icon-green {
  color: #85b200;
}

footer {
  margin: 10px 0px;
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
}

footer a:hover {
  text-decoration: none;
}

.ad_quadrado_congregation {
  float: left;
  background-color: #ffffff;
  padding: 0px 20px 0px 0px;
}

#divSpdVitrineAds {
  margin-top: 50px;
}

.content-to-mobile {
  display: block;
}

.content-to-screen {
  display: none;
}

@media (min-width: 768px) {
  .content-to-mobile {
    display: none;
  }

  .content-to-screen {
    display: block;
  }

  .col-md-padr-0 {
    padding-right: 0px;
  }

  body {
    background-color: #f4f4f4;
  }

  .navbar {
    margin-bottom: 10px;
  }

  .content-box {
    background-color: white;
    padding: 20px;
    border: 1px solid #e7e7e7;
  }

  .congregation-map {
    height: 500px;
  }
}

.nav-tabs {
  margin-bottom: 20px;
}

.badge-success {
  background-color: #85b200;
}

.badge-lg {
  padding: 7px 14px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #85b200;
  margin-bottom: 20px;
}

.has-success .form-control {
  background-color: rgba(60, 118, 61, 0.2);
}

.ad_in_article {
  margin: 20px 0px;
}

.google-center-div {
  vertical-align: middle;
}

.ad_in_article_extra_space {
  margin: 60px 0px;
}

#divSpdInText {
  margin-bottom: 100px;
}

.qrcode {
  margin-top: 40px;
}